---
---
<div class="nota-clinica">
  <p><em>Nota clínica: En el DSM-5, el perfil Asperger se clasifica dentro del
  Trastorno del Espectro Autista (TEA) nivel 1. Muchas personas con este
  perfil se identifican con el término Asperger como identidad neurocognitiva.</em></p>
</div>